*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px 10px 35px;
}
.nav{
    list-style: none;
    width: 300px;
    font-size: 17px;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}
header:hover{
    background-color: antiquewhite;
    transition: 0.5s;
}
